p ,#header_place{
    background-color: rgb(57, 74, 255);
    color: aliceblue;
    margin: 0px;
    
}
#bg-page{
    background-color:aliceblue;

}
#b-page{
    background-color: rgb(150, 215, 255);
}

#profile{
    max-width: 100%;
    margin: 0px;
}